{% extends 'base.html.twig' %}
{#}ESTA PAGINA SE VERÁ EN LA RUTA / DE LA WEB{#}
{% block stylesheets %}
             <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
             <link href="{{ asset('css/styleNovedades.css') }}" rel="stylesheet" />
             <link href="{{ asset('css/swiper-bundle.min.css') }}" rel="stylesheet" />
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/scripts.js') }}" type="text/javascript"></script>
        {% endblock %}
{% block title %}GYM Y JAM{% endblock %}
{% block body %} 
 <!--NOVEDADES-->
<div class = "cuerpoNovedades">
        <div class="anyo">
            <h2>2022</h2>
            <!--EMPIEZA EL MES-->
            <div class="titulo-mes">
                <h1>OCTUBRE</h1><center><hr></center>
            <div class="meses">
                <br>
                    <div class="container">
                        <div class="main-card">
                            <div class="cards">
                                <!--NOTICIA-->
                                <div class="card">
                                    <div class="contenido">
                                        <div class="imagen-tarjeta">
                                            <img class="img-tarjeta" src="{{ asset('img/SLIDER1 (2).jpg') }}" alt="">
                                        </div>
                                        <div class="detalles">
                                            <div class="nombre">INSTALACIONES</div>
                                            <div class="info">
                                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem iusto quas quis inventore delectus tenetur eos, error libero non illo offici
                                            </div>
                                        </div>
                                        <button class="boton">SABER MÁS</button>
                                    </div>
                                </div>
                                <!--FIN NOTICIA-->

                                <!--NOTICIA-->
                                <div class="card">
                                    <div class="contenido">
                                        <div class="imagen-tarjeta">
                                            <img class="img-tarjeta" src="{{ asset('img/SLIDER1 (1).jpg') }}" alt="">
                                        </div>
                                        <div class="detalles">
                                            <div class="nombre">INSTALACIONES</div>
                                            <div class="info">
                                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem iusto quas quis inventore delectus tenetur eos, error libero non illo offici
                                            </div>
                                        </div>
                                        <button class="boton">SABER MÁS</button>
                                    </div>
                                </div>
                                <!--FIN NOTICIA-->
                                 <!--NOTICIA-->
                                 <div class="card">
                                    <div class="contenido">
                                        <div class="imagen-tarjeta">
                                            <img class="img-tarjeta" src="{{ asset('img/SLIDER1 (3).jpg') }}" alt="">
                                        </div>
                                        <div class="detalles">
                                            <div class="nombre">INSTALACIONES</div>
                                            <div class="info">
                                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem iusto quas quis inventore delectus tenetur eos, error libero non illo offici
                                            </div>
                                        </div>
                                        <button class="boton">SABER MÁS</button>
                                    </div>
                                </div>
                                <!--FIN NOTICIA-->
                                 <!--NOTICIA-->
                                 <div class="card">
                                    <div class="contenido">
                                        <div class="imagen-tarjeta">
                                            <img class="img-tarjeta" src="{{ asset('img/SLIDER1 (4).jpg') }}" alt="">
                                        </div>
                                        <div class="detalles">
                                            <div class="nombre">INSTALACIONES</div>
                                            <div class="info">
                                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem iusto quas quis inventore delectus tenetur eos, error libero non illo offici
                                            </div>
                                        </div>
                                        <button class="boton">SABER MÁS</button>
                                    </div>
                                </div>
                                <!--FIN NOTICIA-->
                            </div>
                        </div>
                    </div>
                       
            </div>
            <!--ACABA EL MES-->
            <!--SIGUIENTE MES-->
            <div class="titulo-mes">
                <h1>SEPTIEMBRE</h1><center><hr></center>
            <div class="meses">
                <br>
                    <div class="container">
                        <div class="main-card">
                            <div class="cards">
                                <!--NOTICIA-->
                                <div class="card">
                                    <div class="contenido">
                                        <div class="imagen-tarjeta">
                                            <img class="img-tarjeta" src="{{ asset('img/SLIDER1 (2).jpg') }}" alt="">
                                        </div>
                                        <div class="detalles">
                                            <div class="nombre">INSTALACIONES</div>
                                            <div class="info">
                                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem iusto quas quis inventore delectus tenetur eos, error libero non illo offici
                                            </div>
                                        </div>
                                        <button class="boton">SABER MÁS</button>
                                    </div>
                                </div>
                                <!--FIN NOTICIA-->
                                <!--NOTICIA-->
                                <div class="card">
                                    <div class="contenido">
                                        <div class="imagen-tarjeta">
                                            <img class="img-tarjeta" src="{{ asset('img/SLIDER1 (1).jpg') }}" alt="">
                                        </div>
                                        <div class="detalles">
                                            <div class="nombre">INSTALACIONES</div>
                                            <div class="info">
                                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem iusto quas quis inventore delectus tenetur eos, error libero non illo offici
                                            </div>
                                        </div>
                                        <button class="boton">SABER MÁS</button>
                                    </div>
                                </div>
                                <!--FIN NOTICIA-->
                                

                                <!--NOTICIA-->
                                <div class="card">
                                    <div class="contenido">
                                        <div class="imagen-tarjeta">
                                            <img class="img-tarjeta" src="{{ asset('img/SLIDER1 (3).jpg') }}" alt="">
                                        </div>
                                        <div class="detalles">
                                            <div class="nombre">INSTALACIONES</div>
                                            <div class="info">
                                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem iusto quas quis inventore delectus tenetur eos, error libero non illo offici
                                            </div>
                                        </div>
                                        <button class="boton">SABER MÁS</button>
                                    </div>
                                </div>
                                <!--FIN NOTICIA-->
                                 <!--NOTICIA-->
                                 <div class="card">
                                    <div class="contenido">
                                        <div class="imagen-tarjeta">
                                            <img class="img-tarjeta" src="{{ asset('img/SLIDER1 (4).jpg') }}" alt="">
                                        </div>
                                        <div class="detalles">
                                            <div class="nombre">INSTALACIONES</div>
                                            <div class="info">
                                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem iusto quas quis inventore delectus tenetur eos, error libero non illo offici
                                            </div>
                                        </div>
                                        <button class="boton">SABER MÁS</button>
                                    </div>
                                </div>
                                <!--FIN NOTICIA-->
                                 <!--NOTICIA-->
                                 <div class="card">
                                    <div class="contenido">
                                        <div class="imagen-tarjeta">
                                            <img class="img-tarjeta" src="{{ asset('img/SLIDER1 (2).jpg') }}" alt="">
                                        </div>
                                        <div class="detalles">
                                            <div class="nombre">INSTALACIONES</div>
                                            <div class="info">
                                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem iusto quas quis inventore delectus tenetur eos, error libero non illo offici
                                            </div>
                                        </div>
                                        <button class="boton">SABER MÁS</button>
                                    </div>
                                </div>
                                <!--FIN NOTICIA-->
                            </div>
                        </div>
                    </div>
                       
            </div>
            <!--ACABA EL MES-->
            <!--SIGUIENTE MES-->
            <div class="titulo-mes">
                <h1>AGOSTO</h1><center><hr></center>
            <div class="meses">
                <br>
                    <div class="container">
                        <div class="main-card">
                            <div class="cards">
                                <!--NOTICIA-->
                                <div class="card">
                                    <div class="contenido">
                                        <div class="imagen-tarjeta">
                                            <img class="img-tarjeta" src="{{ asset('img/SLIDER1 (3).jpg') }}" alt="">
                                        </div>
                                        <div class="detalles">
                                            <div class="nombre">INSTALACIONES</div>
                                            <div class="info">
                                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem iusto quas quis inventore delectus tenetur eos, error libero non illo offici
                                            </div>
                                        </div>
                                        <button class="boton">SABER MÁS</button>
                                    </div>
                                </div>
                                <!--FIN NOTICIA-->

                                <!--NOTICIA-->
                                <div class="card">
                                    <div class="contenido">
                                        <div class="imagen-tarjeta">
                                            <img class="img-tarjeta" src="{{ asset('img/SLIDER1 (2).jpg') }}" alt="">
                                        </div>
                                        <div class="detalles">
                                            <div class="nombre">INSTALACIONES</div>
                                            <div class="info">
                                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem iusto quas quis inventore delectus tenetur eos, error libero non illo offici
                                            </div>
                                        </div>
                                        <button class="boton">SABER MÁS</button>
                                    </div>
                                </div>
                                <!--FIN NOTICIA-->
                                 <!--NOTICIA-->
                                 <div class="card">
                                    <div class="contenido">
                                        <div class="imagen-tarjeta">
                                            <img class="img-tarjeta" src="{{ asset('img/SLIDER1 (1).jpg') }}" alt="">
                                        </div>
                                        <div class="detalles">
                                            <div class="nombre">INSTALACIONES</div>
                                            <div class="info">
                                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem iusto quas quis inventore delectus tenetur eos, error libero non illo offici
                                            </div>
                                        </div>
                                        <button class="boton">SABER MÁS</button>
                                    </div>
                                </div>
                                <!--FIN NOTICIA-->
                                 <!--NOTICIA-->
                                 <div class="card">
                                    <div class="contenido">
                                        <div class="imagen-tarjeta">
                                            <img class="img-tarjeta" src="{{ asset('img/SLIDER1 (4).jpg') }}" alt="">
                                        </div>
                                        <div class="detalles">
                                            <div class="nombre">INSTALACIONES</div>
                                            <div class="info">
                                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem iusto quas quis inventore delectus tenetur eos, error libero non illo offici
                                            </div>
                                        </div>
                                        <button class="boton">SABER MÁS</button>
                                    </div>
                                </div>
                                <!--FIN NOTICIA-->
                            </div>
                        </div>
                    </div>
                       
            </div>
            <!--ACABA EL MES-->
            </div>
            </div>
            </div>
        </div>
</div>   
{% endblock %}
